@import "bootstrap-sprockets";
@import "bootstrap";

 img {
   width: 500px;
   display: block;
   margin: auto;
 }

h1 {
  text-align: center;
}

h3 {
  text-align: center;
}

h4 {
  text-align: center;
}
