<h1>Welcome to ShinTastic Wedding Photography</h1>

<h3>About us:</h3>
<h4>Founded by David Shin back in 2012, Shintastic Wedding Photography has been delivering top quality wedding photos to couples all around the world. Check out our page to see some the work of our talented photographers. </h4>
<h4>if you are looking to hire us, please send us a message with your details to davidshin@gmail.com or email the photographers directly!</h4>

<img src="http://www.photolakedistrict.co.uk/wp-content/uploads/UK-Castle-Wedding-Photographer.jpg" alt="">

<h4>Certified Photographers</h4>
<% @users.each do |user| %>
  <%= link_to user.email, user_path(user) %>
<% end %>

<br>
<hr>
<h3>Check out our photos from our photographers</h3>
<% @images.each do |image| %>
<a href='/users/<%= @user.id %>/images/<%= image.id %>'><img src="<%= image.url %>" alt=""></a>
<% end %>
